
body {
    font-family: Arial, sans-serif;
    margin: 0px;
}

nav {
    position: -webkit-sticky;
    	position: sticky;
    	top: 0;
    padding: 20px;
    margin-bottom: 32px;
    text-align: center;
    background: #000;
    color: #ffffff;
    font-size: 32px;
}

.content {
    max-width: 670px;
    margin: auto;
    color: #000;
}

p {
    font-size: 16px;
    line-height: 26px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

footer {
    padding: 14px;
    margin-top: 32px;
    text-align: center;
    background: #808080;
    color: #ffffff;
    font-size: 14px;
}
